.dark {
    background-color: black;
    color: #fff;

        #homeBtn {
            background-color: black;
        }

        #home {
            filter: invert(100%)
        }

        .dayNight{
            background-color: black;
        }

        #toggle {
            filter: invert(125%);
        }
    }

.light {
    background-color: #fff;
    color: black;

    #homeBtn {
        background-color: #fff;
    }

    .dayNight {
        background-color: #fff;
    }
}
  
.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .navDiv {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-start;

            .toggleBtn {
                width: 10%;

                .dayNight {
                    border: none;
                    padding: 0;
                }

                #toggle {
                    width: 100%;
                    height: 50px;
                }
            }

            .homeButton {
                width: 10%;

                #homeBtn {
                    border: none;
                    padding: 0;
                }

                #home {
                    width: 100%;
                    height: 30px;
                }
            }

            h1 {
                width: 30%;
            }

            .menuLinks {
                width: 30%;
                display: flex;
                justify-content: space-evenly;

                ul {
                    width:100%;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    justify-content: space-between;

                    li {
                        margin-bottom: 0;

                        a {
                            font-size: inherit;
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
    }
    
    .lrContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 85vh;

        .left {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            background-color: salmon;

            .aboutText {
                width: 60%;
                height: auto;
            }

            .imgContainer {
                display: flex;
                height: auto;
                width: 35%;
                background-color: salmon;
                justify-content: center;
                align-items: center;
                border-radius: 13%;

                #portrait {
                    width: 85%;
                }
            }
            .strengthsDiv {
                height: 20px;
                font-size: 15px;
                width: 100%;
                text-align: center;
            }

            .hobbiesDiv {
                font-size: 15px;
                width: 100%;
                height: 20px;
                text-align: center;
            }

            .strengths { 
                list-style: none;
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                flex-wrap: wrap;

                li {
                    text-align: center;
                    width: 25%;
                }
            }

            .hobbies {  
                list-style: none;
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;

                li {
                    width: 25%;
                    text-align: center;
                }
            }
        }

        .right {
                background-color: rgb(164, 229, 245);
                align-items: center;
                justify-content: center;
                display: flex;
                width: 50%;
                height: 85vh;
                text-align: center;
        
                li {
                    font-size: 40px;
                    margin-top: 20px;
                    margin-bottom: 20px;
        
                }
        } 
    }
}