.dark {
    background-color: black;
    color: #fff;

    a {
        text-decoration: none !important;
        color: white !important;
        margin-top: 10px;

        .icon {
            font-size: 20px;
            margin-right: 15px;
        }

        span {
            font-size: 18px;
            font-weight: 600px !important;
        }
    }

        #homeBtn {
            background-color: black;
        }

        #home {
            filter: invert(100%)
        }

        .dayNight{
            background-color: black;
        }

        #toggle {
            filter: invert(125%);
        }
    }

.light {
    background-color: #fff;
    color: black;

    a {
        text-decoration: none !important;
        color: Black !important;
        margin-top: 10px;

        .icon {
            font-size: 20px;
            margin-right: 15px;
        }

        span {
            font-size: 18px;
            font-weight: 600px !important;
        }
    }

    #homeBtn {
        background-color: #fff;
    }

    .dayNight {
        background-color: #fff;
    }
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .navDiv {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-start;

        @media (max-width: 576px) {
            justify-content: space-around;
        }

        @media (max-width: 390px) {
            justify-content: space-around;
            
        }

            .toggleBtn {
                width: 10%;

                .dayNight {
                    border: none;
                    padding: 0;
                }

                #toggle {
                    width: 100%;
                    height: 50px;
                }
            }

            .homeButton {
                width: 10%;

                #homeBtn {
                    border: none;
                    padding: 0;
                }

                #home {
                    width: 100%;
                    height: 30px;
                }
            }

            h1 {
                width: 30%;

                @media (max-width: 576px){
                    font-size: 20px;
                }
            }

            .menuLinks {
                width: 30%;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;

                ul {
                    width:100%;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    justify-content: space-between;

                    @media (max-width: 576px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    li {
                        margin-bottom: 0;

                        a {
                            font-size: inherit;
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
    }
}

    .contactContainer {
        display: flex;
        flex-direction: column;
        background-color: salmon;


        .contactDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 85vh;
            width: 100%;

            .itemContainer {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
    
    
                a {
                    text-decoration: none !important;
                    margin-top: 10px;
    
                    .icon {
                        font-size: 20px;
                        margin-right: 15px;
                    }
    
                    span {
                        font-size: 18px;
                        font-weight: 600px !important;
                    }
                }
            }
        }
    }
    