.dark {
    background-color: black;
    color: #fff;

        #portfolioContainer {
            background-color: salmon;
        }

        #homeBtn {
            background-color: black;
        }

        #home {
            filter: invert(100%)
        }

        .dayNight{
            background-color: black;
        }

        #toggle {
            filter: invert(125%);
        }
    }

.light {
    background-color: #fff;
    color: black;

    .carousel-item {
        color: black;
    }

    #portfolioContainer {
        background-color: lightblue;
    }

    #homeBtn {
        background-color: #fff;
    }

    .dayNight {
        background-color: #fff;
    }
}
    .navDiv {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-start;

            .toggleBtn {
                width: 10%;

                .dayNight {
                    border: none;
                    padding: 0;
                }

                #toggle {
                    width: 100%;
                    height: 50px;
                }
            }

            .homeButton {
                width: 10%;

                #homeBtn {
                    border: none;
                    padding: 0;
                }

                #home {
                    width: 100%;
                    height: 30px;
                }
            }

            h1 {
                width: 30%;
            }

            .menuLinks {
                width: 30%;
                display: flex;
                justify-content: space-evenly;

                ul {
                    width:100%;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    justify-content: space-between;

                    li {
                        margin-bottom: 0;

                        a {
                            font-size: inherit;
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
    }

#portfolioContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    #portfolioItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        p {
            width: 70%;
        }

        img {
            padding-top: 20px;
            flex-grow: 1;
            width: 50%;
            height: 50%;
        }

        #spotifyImg {
            height: 250px;
            width: 250px;
        }

        a {
            margin-top: 0px;
        }
    }
}

    // .projectsDiv {
    //     display: flex;
    //     flex-direction: column;
    //     height: 80vh;
    //     justify-content: space-between;
    //     flex-wrap: wrap;
    //     align-content: space-between;
    // }
    
    // .eachproject {
    //     display: flex;
    //     height: auto;
    //     width: 25%;
    //     flex-wrap: wrap;
    // }
    
    // .project1 {
    //     margin-left: 20px;
    //     margin-top: 20px;
    //     width: 25%;
    //     height: auto;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center; 
    
    //     img {
    //         width: 100%;
    //         height: auto;
    //     }
    // }
    // .project2 {
    //     margin-bottom: 20px;
    //     margin-left: 20px;
    //     width: 25%;
    //     height: 30vh;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center; 
    
    //     img {
    //         width: 100%;
    //         height: Auto;
    //     }
    // }
    // .project3 {
    //     margin-top: 20px;
    //     width: 25%;
    //     height: 30vh;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center; 
    
    //     img {
    //         width: 100%;
    //         height: 50%;
    //     }
    
    // }
    // .project4 {
    //     margin-bottom: 20px;
    //     width: 25%;
    //     height: 30vh;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center; 
    
    //     img {
    //         width: 100%;
    //         height: auto;
    //     }
    
    // }
    // .project5 {
    //     margin-right: 20px;
    //     margin-top: 20px;
    //     width: 25%;
    //     height: 30vh;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center; 
    
    
    //     img {
    //         width: 100%;
    //         height: auto;
    //     }
    // }
    // .project6 {
    //     margin-bottom: 20px;
    //     margin-right: 20px;
    //     width: 25%;
    //     height: 30vh;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     align-items: center; 
    
    //     img {
    //         width: 100%;
    //         height: auto;
    //     }
    
    
    // }
    
    // .gitHubContainer {
    //     display: flex;
    //     flex-direction: column;
    // }