.dark {
    background-color: black;
    color: #fff;

        #homeBtn {
            background-color: black;
        }

        #home {
            filter: invert(100%)
        }

        .dayNight{
            background-color: black;
        }

        #toggle {
            filter: invert(125%);
        }
    }

.light {
    background-color: #fff;
    color: #333;

    #homeBtn {
        background-color: #fff;
    }

    .dayNight {
        background-color: #fff;
    }
}

.resumeDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .navDiv {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: flex-start;

        @media (max-width: 576px) {
            justify-content: space-around;
        }

        @media (max-width: 390px) {
            justify-content: space-around;
            
        }

            .toggleBtn {
                width: 10%;

                .dayNight {
                    border: none;
                    padding: 0;
                }

                #toggle {
                    width: 100%;
                    height: 50px;
                }
            }

            .homeButton {
                width: 10%;

                #homeBtn {
                    border: none;
                    padding: 0;
                }

                #home {
                    width: 100%;
                    height: 30px;
                }
            }

            h1 {
                width: 30%;

                @media (max-width: 576px){
                    font-size: 20px;
                }
            }

            .menuLinks {
                width: 30%;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;

                ul {
                    width:100%;
                    display: flex;
                    list-style: none;
                    flex-direction: row;
                    justify-content: space-between;

                    @media (max-width: 576px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    li {
                        margin-bottom: 0;

                        a {
                            font-size: inherit;
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
    }
}
.resumeContainer {
    display: flex;
    flex-direction: row;
    height: 85vh;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
}

    .leftResume{
        display: flex;
        flex-direction: column;
        background-color: salmon;
        width: 50%;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            width: 100%;
        }

        .resume1Container {
            display: flex;
            width: 100%;
            justify-content: center;
            
            a {
                width: 55%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }

        }
    }

    .rightResume {
        display: flex;
        flex-direction: column;
        background-color: lightblue;
        width: 50%;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            width: 100%;
        }

        .resume1Container {
            display: flex;
            width: 100%;
            justify-content: center;
            
            a {
                width: 55%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }

        }
    }
}